{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="rounded shadow bg-light p-3">
                    <p>dasdasdasda</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-6 pt-2">
                <div class="card shadow p-3">
                    <p>Se você precisa contratar um profissional de forma flexível e rápida, nós temos o Expert ideal para sua necessidade, sempre alinhando o modelo de contratação pela Alstra à sua política interna</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 pt-2">
                <div class="card shadow p-3">
                    <p>Se você já sabe quem vai contratar, mas quer mais facilidade e menos burocracia no dia a dia, assumimos a contratação e administração</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 pt-2">
                <div class="card shadow p-3">
                    <p>Necessitando contratar um profissional em outro país, a Alstra identifica e contrata o profissional para você, e cuida de todas as questões administrativas e de compliance</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 pt-2">
                <div class="card shadow p-3">
                    <p>Caso precise de uma solução para atrair talentos, sem perder a referência da sua marca, fornecemos nossa tecnologia no modelo white label</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}